/* class -> .text-red {}  */
/* id -> #id-bilgisi {}  */


h1,h2{
  color: blueviolet;
}



#first-article{
  font-size: 25px;
}
.color{
 color: cornflowerblue;
}

.fs-14{
font-size: 14px;
}

.fs-20{
  font-size: 20px;
}

fs-30{
  font-size: 30px;
}